<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headbanda') %>
</head>

<body id="biografia">
    <%- include('partials/navigation') %>

    <div class="container mt-4">
        <div>
        <%- include('partials/banda') %>
        </div>
    </div>

    <%- include('partials/footer') %>





