<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headcontacto') %>
</head>

<body>
    <%- include('partials/navigation') %>

    <div class="container">
        <%- include('partials/contacto') %>

    </div>

    <%- include('partials/footer') %>
