<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headdiscog') %>
</head>

<body>
    <%- include('partials/navigation') %>

    <div class="container">
        <%- include('partials/discografia') %>
    </div>

    <%- include('partials/footer') %>
