@font-face{
    font-family: Funera;
    src: url("/fonts/MCFfunera.ttf");
}

/* body, html{
    height: 100%;
} */

body{
    background-color: rgba(0, 0, 0, 0.921);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    opacity: 0.5;
}

.nav-link{
    color: white;
}

a{
    font-family: Funera, serif;
    font-size: 92px;
}

small, p{
    color: whitesmoke;
}

.redsocial i {
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 33.3%;
    border: 1px solid;
    font-size: 2rem;
    transition: all 0.7s;
}

.redsocial i:hover {
    color: white;
    background-color: black;
}

#copyright {
    color: grey;
}