<br>
<div class="container">
  <p class="text-justify" style="font-family:Wretched; color:whitesmoke; font-size: 28px; ">
      <strong>"Thy Sombre Light / Tu Sombria Luz"</strong> hace alusion a la dualidad.

      El concepto de la dualidad se ha abordado extensamente
      a lo largo de la filosofia, tanto oriental como occidental.
      En esencia,
      el nombre de la banda hace alucion a la idea de que todo tiene un opuesto
      y que conjuntamente con existir luz tambien existe oscuridad,
      tanto en nosotros mismos, como en muchos aspectos de la manifestacion.

      Con nuestra musica buscamos representar este concepto.

      Por un lado, resuena un mensaje un tanto melancolico, depresivo y oscuro,
      pero por el otro, a ratos, la musica puede evocarnos sentimientos positivos
      y contener lineas melodicas que nos conmuevan con pasajes epicos,
      reflexivos, introspectivos, meditativos, etc...
  </p>
</div>

<!-- <video src="../public/videos/video2.mp4" autoplay="true" muted="false" loop="true" poster=""></video> -->
<!-- -------------------------------- Artículos ------------------------------------->
<div class="container d-flex mt-5 mb-5" id="articulos">
  <div class="row">
    <div class="col-6 mt-5 mb-5 text-center">
      <h1>Slowly We Riff #2 Compilation</h1>
        <iframe 
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fweb.facebook.com%2FThySombreLight.band%2Fposts%2Fpfbid0AyPXeCDeXTnf7FYeSaAuQ1Rb4hYcSRM2mVun1uZmKy7VirCQGhc31DEWKmJhmDSBl&show_text=true&width=500" 
        width="500" height="500" style="border:none;overflow:hidden" scrolling="yes" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
        </iframe>
    </div>
    <div class="col-6 mt-5 text-center">
      <h1>Dark East Productions Volume 2</h1>
        <iframe 
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fweb.facebook.com%2FThySombreLight.band%2Fposts%2Fpfbid0syz78JM2R49gJn4ebM9oK4YUff275XH3Vxbt6tVmV6bTR7UNdvWhvcBxRxvQTszBl&show_text=true&width=500" 
        width="500" height="500" style="border:none;overflow:hidden" scrolling="yes" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
        </iframe>
    </div>
    <div class="col-6 mt-5 mb-5 text-center">
      <h1>Doomed Nation Review!</h1>
        <iframe 
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FThySombreLight.band%2Fposts%2Fpfbid0s9SvzR6x9HGrF64WwUK7nqYnBvmUtgh3cezNmgyr3bps2wMjWoWGZeb2fHJGS4Crl&show_text=true&width=500"
        width="500" height="500" style="border:none;overflow:hidden" scrolling="true" frameborder="0">
        </iframe>
    </div>
      <div class="col-6 mt-5 mb-5 text-center">
        <h1>Doom Metal Chile</h1>
        <iframe 
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fweb.facebook.com%2FDoomMetal.Chile%2Fposts%2Fpfbid02QFsCjGFgREmvcDvbx2beKPa9AU5R9NDpcZjAKQesazjPMnJuydcc64m3WjeMrzzbl&show_text=true&width=500" 
        width="500" height="500" style="border:none;overflow:hidden" scrolling="true" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
        </iframe>
      </div>
  </div>
</div><br><br>

