<br>
<form class="formulario_sombra">
    <fieldset>
      <legend></legend>
      <div class="contenedor-campos">
        <div class="campos">
          <label style="color:grey">Nombre</label>
          <input class="input-text" type="text" placeholder="Ingresa tu nombre" style="color:whitesmoke">
        </div>
        <div class="campos">
          <label style="color:grey">Correo</label>
          <input class="input-text" type="email" placeholder="correo@dominio.com" style="color:whitesmoke">
        </div>
        <div class="campos">
          <label style="color:grey">Mensaje</label>
          <textarea class="input-text" placeholder="Detalle del mensaje" style="color:whitesmoke"></textarea>
        </div>
      </div>
    </fieldset>
    <br>
    <div class="float-right">
      <button type="submit" class="btn btn-secondary">Enviar</button>
    </div>
</form><br><br><br><br>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous">
</script>