<br><br>
<div class="container-fluid row justify-content-around mt-5">
  <div class="card" id= "heart" style="width: 22rem;">
        <img src="/Imagenes/HDportada.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Heartfelt Distance</h5>
        <p class="card-text">EP 2021</p>
        <a href="https://open.spotify.com/album/41V1sFbbnfFEb3hdR7ZpVH" target="_blank" class="btn btn-secondary">Play</a>
      </div>
  </div>
    
  <div class="card" id="ed" style="width: 22rem;">
        <img src="/Imagenes/EDportada.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Eternal Dusk</h5>
        <p class="card-text">EP 2020</p>
        <a href="https://open.spotify.com/album/7Ff3rIVO3Bu6edgM7nUKKv" target="_blank" class="btn btn-secondary">Play</a>
      </div>
  </div>
</div>
<br><br><br><br><br><br><br><br>