<br><br>
<div class="container mb-5" id="ventas">
    <div class="row">
        <div class="col-md-12">
            <hr>
            <div class="col-md-12">
                <!-- PC Indicators -->
                <div class="button-placement d-none d-sm-none d-md-block">
                    <a class="btn btn-sm btn-success" href="#carouselExample" role="button" data-slide="prev"> <i class="fas fa-chevron-circle-left"></i> </a>
                    <a class="btn btn-sm btn-success" href="#carouselExample" role="button" data-slide="next"> <i class="fas fa-chevron-circle-right"></i> </a>
                </div>
                <!-- End of PC Indicators -->
                <!-- Mobile Indicators -->
                <div class="button-placement d-md-none d-lg-none d-xl-none">
                    <a class="btn btn-sm btn-success" href="#carouselExampleMobile" role="button" data-slide="prev"> <i class="fas fa-chevron-circle-left"></i> </a>
                    <a class="btn btn-sm btn-success" href="#carouselExampleMobile" role="button" data-slide="next"> <i class="fas fa-chevron-circle-right"></i> </a>
                </div>
                <!-- End of Mobile Indicators -->
            </div>
        </div>
        <!-- End of Col-md-12 -->
        <!-- This Code Block is For PC Edition -->
        <div id="carouselExample" class="carousel slide d-none d-sm-none d-md-block" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="product-block">
                                <img class="d-block w-100 foto" src="/Imagenes/camiseta-mc-my-dying-bride.jpg" alt="Product">
                                <small>Precio</small>
                                <p>$10.000</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-outline-success btn-sm" type="button" id="boton1" data-id="1" onclick="add(this)">Añadir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-block">
                                <img class="d-block w-100 foto" src="/Imagenes/camiseta-mc-my-dying-bride (1).jpg" alt="Product">
                                <small>Precio</small>
                                <p>$3000</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-outline-success btn-sm" type="button" id="boton2" data-id="2" onclick="add(this)">Añadir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-block">
                                <img class="d-block w-100 foto" src="/Imagenes/Mydyingbride012-front (1).webp" alt="Product">
                                <small>Precio</small>
                                <p>$200</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-outline-success btn-sm" type="button" id="boton3" data-id="3" onclick="add(this)">Añadir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-block">
                                <img class="d-block w-100 foto" src="/Imagenes/Camiseta-con-estampado-DTG-de-My-Dying-Bride-As-the-Flower-Withers-Doom-g-tico-death.jpg" alt="Product">
                                <small>Precio</small>
                                <p>$200</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-outline-success btn-sm" type="button" id="boton4" data-id="4" onclick="add(this)">Añadir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Carousel Item 1 -->

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="product-block">
                                <img class="d-block w-100 foto" src="/Imagenes/k1.jpg" alt="Product">
                                <small>Precio</small>
                                <p>$200</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-outline-success btn-sm" type="button" id="boton5" data-id="5"
                                            onclick="add(this)">Añadir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-block">
                                <img class="d-block w-100 foto" src="/Imagenes/k2.jpg" alt="Product">
                                <small>Precio</small>
                                <p>$200</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-outline-success btn-sm" type="button" id="boton6" data-id="6"
                                            onclick="add(this)">Añadir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-block">
                                <img class="d-block w-100 foto" src="/Imagenes/k3.jpg" alt="Product">
                                <small>Precio</small>
                                <p>$200</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-outline-success btn-sm" type="button" id="boton7" data-id="7"
                                            onclick="add(this)">Añadir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-block">
                                <img class="d-block w-100 foto" src="/Imagenes/k4.webp" height="330" alt="Product">
                                <small>Precio</small>
                                <p>$200</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-outline-success btn-sm" type="button" id="boton8" data-id="8"
                                            onclick="add(this)">Añadir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Carousel Item 2 -->
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br>