<!--------------------------------------- navbar  ----------------------------------------->
<nav class="navbar navbar-expand-md bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon bg-light"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav fs-1 justify-content-center w-100">
          <a class="nav-link px-4" href="/index">INICIO</a>
          <a class="nav-link px-4" href="/banda">BANDA</a>
          <a class="nav-link px-4" href="/discografia">DISCOGRAFIA</a>
          <a class="nav-link px-4" href="/merch">MERCH</a>
          <a class="nav-link px-4" href="/contacto">CONTACTO</a>
        </div>
      </div>
    </div>
  </nav>
